.print-page{
  display: flex; 
  flex-wrap: wrap;
  width: calc(100vw - 32px);
  padding: 16px 16px 16px 241px;
}

.print-page .card-wrap{
  margin: 0;
}

.print-page .card-wrap .card{
  box-sizing: border-box;
  border: 2px solid #000;
}

.print-page .card-wrap .card img{
  top: 0;
  left: 0;
}

.print-page .card-wrap.size-md .card-text{
  top:-.05em; left: -.05em;
}

@media print{
  body{
    -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
  }
  .print-page{
    padding: 20px;
  }
}