.card-window{
  position:fixed;
  top:0; left:0;
  z-index:9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.2);
  display: flex;
    justify-content: center;
    align-items: center;
}

.card-window .modal{
  padding: 32px 24px 24px 32px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0,0,0,.5)
}