#content > .core{ 
  padding: 8px;
}

/* .core-header{ 
  display: flex;
  width: calc(100vw - 36px);
  background: #FFF;
  margin-bottom: 8px;
}

.core-header img{ width: 38px }

.core-header .label{ 
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .75em;
  font-weight: 700;
}

.core-header .label.card{ width: 380px; }

.core-header .label.deck{
  flex: 1;
  display: flex;
  border-left: 12px solid #E0E0E0;
  overflow-x: hidden;
}

.core-header .label.core,
.core-header .label.need{ 
  text-align: center;
}

.core-header .label.core{ width: 78px; border-left: 12px solid #E0E0E0 }
.core-header .label.need{ width: 107px; border-left: 8px solid #E0E0E0 } */


.table-wrapper{
  display: flex;
  width: calc(100vw - 36px);
  min-height: 32px;
  background: #FFF;
}

.table-section{ background: #E0E0E0 }

.table-section .header{
  border-bottom: 8px solid #E0E0E0;
  padding: 8px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;
  height: 55px;
  background: #FFF;
}

.table-section .row{
  display: flex;
  background: #FFF;
  border-bottom: 1px solid #E0E0E0;
  color: #333;
  height: 45px;
}

/* ::::::::::::::::::::::::: INFO ::::::::::::::::::::::::: */

.table-section .row.info .number{ 
  position: relative;
  width: 60px; 
    border-radius: 3px 0 0 3px;
  padding: 12px;
    padding-top: 18px;
    padding-left: 8px;
  font-size: .75em;
}

.table-section .row.info .type-icon{
  display: flex;
    flex-direction: column;
    justify-content: center;
  width: 20px;
  padding: 2px;
}

.table-section .row.info .type-icon img{
  width: 100%;
}

.table-section .row.info .name{
  width: 300px;
  padding: 12px;
    padding-top: 18px;
    padding-left:18px; 
  font-size: .9em;
}


.card.row .labels{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; height: 26px;
}


/* ::::::::::::::::::::::::: DECKLIST ::::::::::::::::::::::::: */

.table-section.decklist{
  display: flex;
    flex: 1;
    flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: scroll;
  border-left: 12px solid #E0E0E0;
}

.table-section.decklist::-webkit-scrollbar{ display: none }

.table-section.decklist .header{
  width: 100%;
  display: flex;
  padding: 0;
  background: #F0F0F0;
}

.table-section.decklist .header .img-wrap{
  border-right: 4px solid #E0E0E0;
  padding: 8px;
  background: #FFF;
}
.table-section.decklist .header .img-wrap:last-of-type{ border-right: none }

.table-section.decklist .header .img-wrap img{ width: 28px }


.table-section.decklist .row.decks{
  display: flex;
    align-items: center;
  padding: 0;
  width: 100%;
  background: #F0F0F0;
}

.table-section.decklist .row.decks p{
  display: flex;
    flex-direction: column;
    justify-content: center;
  font-family: "Reddit Mono", monospace; 
  font-optical-sizing: auto; 
  font-size: .9em;
  width: 48px; height: 100%;
  text-align: center;
  padding: 0 18px;
  border-right: 4px solid #E0E0E0;
  background: #FFF;
}

.table-section.decklist .row.decks p.small-text{ font-size: .75em; padding: 0 16px; }

.table-section.decklist .row.decks p:last-of-type{ border-right: none }
.table-section.decklist .row.decks p.hide{ color: #FFF !important }


/* ::::::::::::::::::::::::: CORE COUNTS ::::::::::::::::::::::::: */


.table-section.card-counts{
  border-left: 12px solid #E0E0E0;
  width: 185px;
}

.table-section.card-counts .header{ 
  text-align: center;
  display: flex; 
    flex-wrap: wrap;
  padding: 0;
}

.table-section.card-counts .header .top{
  display: flex;
  border-bottom: 4px solid #E0E0E0;
  width: 100%;
}

.table-section.card-counts .header .top p{
  padding: 4px;
}

.table-section.card-counts .header .top p:first-of-type{ width: 66px; }
.table-section.card-counts .header .top p:last-of-type{ width:107px; border-left: 8px solid #E0E0E0; }


.table-section.card-counts .header .bottom{
  display: flex;
  width: 100%;
}

.table-section.card-counts .header .bottom p{
  width: 33px;
  padding: 5px 0 3px 0;
  font-size: .9em
}

.table-section.card-counts .header .bottom p:nth-of-type(2),
.table-section.card-counts .header .bottom p:nth-of-type(4),
.table-section.card-counts .header .bottom p:nth-of-type(5){border-left: 2px solid #E0E0E0 }
.table-section.card-counts .header .bottom p:nth-of-type(3){width: 41px; border-left: 8px solid #E0E0E0 }

.table-section.card-counts .row.counts .count,
.table-section.card-counts .row.counts .need{ 
  display: flex;
    align-items: center;
  padding: 4px 0;
}

.table-section.card-counts .row.counts .need{
  border-left: 8px solid #E0E0E0;
}

.table-section.card-counts .row.counts p{
  font-family: "Reddit Mono", monospace; 
  font-optical-sizing: auto; 
  font-size: .9em;
  width: 33px;
  text-align: center;
  padding: 4px 12px;
}

  .table-section.card-counts .row.counts p:first-of-type,
  .table-section.card-counts .row.counts .need p{ border-right: 1px solid #AAA }
  .table-section.card-counts .row.counts .need p:last-of-type{ border-right: none; }

  .table-section.card-counts .row p.fade{ color: #AAA}
  .table-section.card-counts .row p.small-text{ font-size: .75em; padding: 4px 9.3px; }
  .table-section.card-counts .row .need p.hide{ color: #FFF !important }
/* 
  .table-section.card-counts .row.counts .need.all{ background: rgba(0,255,0,.05) }
  .table-section.card-counts .row.counts .need.single{ background: rgba(150, 255, 0, .05) } */








.card.row .need{ position: relative; border-left: 8px solid #EEE; }
.card.row .need.complete::after{
  position: absolute;
  content: '';
  width: 4px; height: 100%;
  top: 0; right: -8px;
  background: green
}

.card.row .need.complete.single::after{ background: yellowgreen }


.card.row .count p.small-text,
.card.row .need p.small-text{ font-size: .75em; padding: 4px 9.3px; }

.card.row .count p.fade,
.card.row .need p.fade{ color: #AAA }

.card.row .need p.hide{ color: #FFF !important }